<%= stylesheet_link_tag "login" %>
<div class="form-signin">
  <!-- <h2 class="form-signin-heading">RealtyMate</h2> -->
  <h3 class="form-signin-h3">
    <div class="dashboard">
      Welcome to <br />Web Dashboard
    </div>
  </h3>
  <% if flash[:alert] %>
    <div class="error_notice">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
          <!-- <%= f.label :email  %><br /> -->
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"%>
    </div>

    <div class="field">
              <!-- <%= f.label :password %><br /> -->
      <%= f.password_field :password, autocomplete: "off", class: "form-control" , placeholder: "Password" %>
    </div> 

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :Remember_Password, "Remember me", class: "form-signin-label" %>
      </div>
    <% end -%>

    <div class="actions", align="center">
      <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    </div>
        
    <%= render "devise/shared/links" %> 
  <% end %>
</div>


